@model IEnumerable<SuMejorPeso.Models.Member>

@{
    ViewData["Title"] = "Lista de Miembros Inactivos";
}

<h1>Miembros Inactivos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">➕ Registrar nuevo miembro</a>
    <a class="btn btn-success" asp-action="Index">✅ Ver Activos</a>

</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.name</td>
        <td>@item.lastName</td>
        <td>@item.dni</td>
        <td>@item.phone</td>
        <td>@item.email</td>
        <td>@(item.active ? "Sí" : "No")</td>
        <td>
            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.id">Ver</a>
            <a class="btn btn-success btn-sm" asp-action="ReactivateConfirmation" asp-route-id="@item.id">Reactivar</a>
        </td>
    </tr>
}   
    </tbody>
</table>