@model SuMejorPeso.Models.TypeMembreship

@{
    ViewData["Title"] = "Detalles de Membresía";
}

<h1 class="margen-barra">Detalles de @Model.name</h1>

<table class="table table-bordered col-md-6">
    <tr>
        <th style="width: 25%;">ID</th>
        <td>@Model.id</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.name</td>
    </tr>
    <tr>
        <th>Descripción</th>
        <td>@Model.description</td>
    </tr>
    <tr>
        <th>Duración (Días)</th>
        <td>@Model.daysDuration</td>
    </tr>
    <tr>
        <th>Precio</th>
        <td>$@Model.price</td>
    </tr>
    <tr>
        <th>Activa</th>
        <td>@(Model.active ? "Sí" : "No")</td>
    </tr>
</table>
<hr />

@if (Model.active)
{
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.id">Editar</a>
}

@{
    var backAction = Model.active ? "Index" : "Inactive";
}
<a class="btn btn-secondary" asp-action="@backAction">Volver</a>