@model IEnumerable<SuMejorPeso.Models.TypeMembreship>

@{
    ViewData["Title"] = "Membresías Inactivas";
}

<h1 class="margen-barra">Tipos de Membresía Inactivos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">➕ Nuevo Tipo</a>
    <a class="btn btn-success" asp-action="Index">✅ Ver Activos</a>
</p>

<table class="table table-striped table-fixed">
    <colgroup>
        <col style="width:22%;">
        <col style="width:22%;">
        <col style="width:16%;">
        <col style="width:16%;">
        <col style="width:80px;">
    </colgroup>

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duración (Días)</th>
            <th>Precio</th>
            <th>Activa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.name)</td>
        <td>@Html.DisplayFor(modelItem => item.daysDuration)</td>
        <td>$@Html.DisplayFor(modelItem => item.price)</td>
        <td>@(item.active ? "Sí" : "No")</td>
        <td>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle toggle-table" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   opciones..
                </a>   
                <ul class="dropdown-menu dropdown-menu-table"> 
                    <li><a class="btn dropdown-item" asp-action="Details" asp-route-id="@item.id">Ver</a> </li> 
                    <li> <a class="btn dropdown-item" asp-action="ReactivateConfirmation" asp-route-id="@item.id">Reactivar</a></li> 
                </ul>
            </div>
        </td>
    </tr>
}   
    </tbody>
</table>