@model IEnumerable<SuMejorPeso.Models.Specialty>

@{
    ViewData["Title"] = "Especialidades";
}

<h1 class="margen-barra">Especialidades de Profesores</h1>

<p>
    <a class="btn " asp-action="Create">➕ Nueva Especialidad</a>
    <a class="btn " asp-action="Inactive">👥 Ver Inactivas</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Activa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.name)</td>
        <td>@(item.active ? "Sí" : "No")</td>
        <td>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle toggle-table" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   opciones
                </a>   
                <ul class="dropdown-menu dropdown-menu-table"> 
                    <li><a class="btn  dropdown-item" asp-action="Details" asp-route-id="@item.id">Ver</a> </li> 
                    <li>  <a class="btn  dropdown-item" asp-action="Edit" asp-route-id="@item.id">Editar</a></li> 
                    <li> <a class="btn dropdown-item" asp-action="Delete" asp-route-id="@item.id">Desactivar</a></li> 
                </ul>
            </div>           
        </td>
    </tr>
}
    </tbody>
</table>