@model IEnumerable<SuMejorPeso.Models.Classroom>

@{
    ViewData["Title"] = "Clases Inactivas";
}

<h1>Clases Inactivas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">➕ Nueva Clase</a>
    <a class="btn btn-success" asp-action="Index">✅ Ver Activas</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Actividad</th>
            <th>Sede</th>
            <th>Activa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.name)</td>
        <td>@Html.DisplayFor(modelItem => item.assignment.name)</td>
        <td>@Html.DisplayFor(modelItem => item.branch.name)</td>
        <td>@(item.active ? "Sí" : "No")</td>
        <td>
            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.id">Ver</a>
            <a class="btn btn-success btn-sm" asp-action="ReactivateConfirmation" asp-route-id="@item.id">Reactivar</a>
        </td>
    </tr>
}   
    </tbody>
</table>